<h2 style="text-align:center;">Products</h2>
<div class="products">
  <div class="product-item" *ngFor="let product of products">
      <h3>
        <a routerLink="/product-id/{{product.id}}" href="{{ products.url }}" [title]="product.name + ' details'" >
          {{ product.title }}
        </a>
      </h3>
      <p>{{product.desc}}</p>
      <p>{{product.cnt}}</p>
  </div>
</div>


<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
