/* .navs {
  box-sizing: border-box;
  padding: 20px 30px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}
.nav {
  margin-bottom: 10px;
} */
